.container {
  padding: 16px;
}

.titleCotainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .courseLayout {
    display: flex;
    flex-direction: row;
  }

  .container {
    flex: 7;
  }

  .options {
    flex: 3;
    padding-bottom: 16px;
  }

  .optionsTitle {
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
  }
}
